body{
    background-color: black;
}

h1,h2,h3,h4,h5,h6{
    padding: 0px;
    margin: 0px;
}

p{
    padding: 0px;
    margin: 0px;
}

header{
    position: absolute;
    top: 7%;
    @media(max-width:576px){
        top: 4%;
    }
    .logo{
        img{
            width: 9.375rem;
            height: 2.2615rem;
            flex-shrink: 0;
            flex-shrink: 0;

            @media(max-width:1450px){
                width: 10.1875rem;
                height: 2.4575rem;
                flex-shrink: 0;
            }

            @media(max-width:1000px){
                width: 10rem;
                height: auto;
            }
        }

        @media(max-width:590px){
            display: none;
        }
    }

    .hamburger{
        @media(min-width: 590px){
            display: none;
        }
    }

    .mob-logo{
        @media(min-width: 590px){
            display: none;
        }
    }

    .stay-connected-btn{
        button {
            display: flex;
            position: relative;
            cursor: pointer;
            justify-content: center;
            align-items: center;
            gap: 0.5em;
            background-color: black;
            color: #FFF;
            font-family: Urbanist, sans-serif;
            font-size: 1.06781rem;
            font-weight: 400;
            border: none;
            border-radius: 1.42375rem;
            text-align: center;
            overflow: hidden;
            z-index: 1;
        
            /* Increased width with responsiveness */
            display: flex;
            width: 10.5rem;
            height: 3.59494rem;
            padding: 0.81863rem 1.17456rem;
            justify-content: center;
            align-items: center;
            gap: 0.55719rem;
            flex-shrink: 0;
        
            line-height: 1.5;
        
            /* Responsive adjustments */
            @media (max-width: 1450px) {
                display: flex;
                width: 10.75rem;
                height: 3.6805rem;
                padding: 0.83813rem 1.20256rem;
                justify-content: center;
                align-items: center;
                gap: 0.36444rem;
                flex-shrink: 0;
                font-size: 1.09325rem;
                border-radius: 1.42375rem;
            }
        
            @media (max-width: 590px) {
                font-size: 1em;
                padding: 0.8em 1.5em; /* Slightly smaller padding on small screens */
                display: none;
            }
        }
        
        button::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border-radius: 1.42375rem;
            background: linear-gradient(90deg, rgba(255, 0, 150, 1), rgba(255, 118, 184, 1), rgba(73, 76, 248, 1));
            padding: 2px; /* Consistent border thickness */
            -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
            mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
            -webkit-mask-composite: destination-out;
            mask-composite: exclude;
            z-index: -1; /* Place behind the button content */

            @media(max-width:1450px){
                border-radius: 1.45763rem;
            }
        }
        
        
        
    }
}

.coming-soon-section{
    height: 100vh;

    .content{
        img{
            width: 800px;

            @media(max-width:1100px){
                width: 60vw;
            }

            @media(max-width:800px){
                width: 80vw;
            }

            @media(max-width:590px){
                width: 100%;
            }
        }
        width: 80%;

        p{
            color: #FFF;
            font-family: Urbanist;
            font-size: 1.58013rem;
            font-style: normal;
            font-weight: 300;
            line-height: 3.39313rem; /* 180.967% */
            margin-top: 2rem;

            @media(max-width:1440px){
                font-size: 1.5rem;
                margin-top: 1.6rem;
            }

            @media(max-width:1200px){
                font-size: 1.1rem;
                margin-top: 1.2rem;
            }

            @media(max-width:590px){
                color: #FFF;
                text-align: center;
                font-family: Urbanist;
                font-size: 0.875rem;
                font-style: normal;
                font-weight: 500;
                line-height: 1.367rem; /* 156.231% */
            }
        }
    }
}

footer{
    position: absolute;
    bottom: 7%;

    @media(max-width:576px){
        bottom: 2%;
    }
    .footer-container{
        display: flex;
        align-items: center;
        gap: 0.5em;
        @media(max-width:576px){
            gap: 0.7em;
        }
        p{
            color: #FFF;
            font-family: Urbanist;
            font-size: 1.16075rem;
            font-style: normal;
            font-weight: 400;
            line-height: 2.542rem; /* 180.967% */

            @media(max-width:1250px){
                font-size: 1.1rem;

            }

            @media(max-width: 576px){
                font-size: 0.9rem;
            }
        }

        img{
            width: 1.29406rem;
            height: 1.29406rem;
            flex-shrink: 0;

            @media(max-width: 1250px){
                width: 1.6rem;
                height: 1.6rem;
            }

            @media(max-width: 590px){
                width: 1.4rem;
                height: 1.4rem;
                flex-shrink: 0;
            }
        }
    }
}

.container2{
    width: 87%;
}